{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Profile {% endblock %}

{% block body %}
    <div class="page_container">
        <div class="breadcrumb">
            <div class="wrap">
                <div class="container">
                    <a href="/user">User</a><span>/</span>Adding User Content
                </div>
            </div>
        </div>



        <div class="wrap">
            <div class="container">
                <section>
                    <div class="row">
                        <div class="span8">
                            <div class="post">
                                <h2 class="title"><span><a href="/user/content">Create new Content</a></span></h2>




                                {{ include('content/_form.html.twig') }}

                                <a href="{{ path('user_content_index') }}">back to list</a>
                            </div>
                        </div>

                        {{ include('user/usermenu.html.twig') }}
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
